<% provide :page_title, t(".title") %>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <%= render "shared/user_info" %>
      <%= render "shared/micropost_form", obj: @micropost %>
    </div>

    <div class="col-md-8">
      <h1><%= t "app.title" %></h1>
      <%= render "shared/feed", feeds: @feed_items %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t ".content" %></h1>

    <%= link_to t(".button"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
