<% provide :page_title, t(".title") %>

<%= render "shared/error_messages", obj: @user %>

<h1><%= t ".title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: signup_path do |f| %>
      <div class="form-group">
        <%= f.label :name, t(".name") %>
        <%= f.text_field :name, class: "form-control",
          autofocus: true, required: true %>
      </div>

      <div class="form-group">
        <%= f.label :email, t(".email") %>
        <%= f.email_field :email, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :password, t(".password") %>
        <%= f.password_field :password,
          class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t(".confirm") %>
        <%= f.password_field :password_confirmation,
          class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.submit t(".submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
