<div class="row">
  <div class="col-md-4">
    <div class="text-center">
      <h1>
        <%= image_tag @user.gravatar_url, alt: @user.name %>
        <%= @user.name %>
      </h1>
    </div>
  </div>

  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <div class="text-center">
        <%= will_paginate @microposts, renderer: BootstrapPagination::Rails %>
      </div>
      <h1>
        <%= t "microposts.main" %> (<%= @user.microposts.count %>)
      </h1>
      <%= render @microposts %>
    <% end %>
  </div>
</div>
